In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

%matplotlib inline
%config InlineBackend.figure_format ='retina'

In [2]:
token = pd.read_csv('/Users/zerindong/Desktop/Analysis/datasets/coinbaseUSD_1-min_data_2014-12-01_to_2017-10-20.csv.csv')

In [3]:
token.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2,1417412100,300.0,300.0,300.0,300.0,0.01,3.0,300.0
3,1417412160,300.0,300.0,300.0,300.0,0.01,3.0,300.0
4,1417412220,300.0,300.0,300.0,300.0,0.01,3.0,300.0

In [4]:
token.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459076 entries, 0 to 1459075
Data columns (total 8 columns):
Timestamp            1459076 non-null int64
Open                 1459076 non-null float64
High                 1459076 non-null float64
Low                  1459076 non-null float64
Close                1459076 non-null float64
Volume_(BTC)         1459076 non-null float64
Volume_(Currency)    1459076 non-null float64
Weighted_Price       1459076 non-null float64
dtypes: float64(7), int64(1)
memory usage: 89.1 MB

In [5]:
token.isnull().sum()

Timestamp            0
Open                 0
High                 0
Low                  0
Close                0
Volume_(BTC)         0
Volume_(Currency)    0
Weighted_Price       0
dtype: int64

In [8]:
token['mid'] = (token['Open'] + token['Close'])/2
token['avg'] = (token['High'] + token['Low'])/2

In [9]:
token.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,mid,avg
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0,300.0,300.0
1,1417412040,300.0,300.0,300.0,300.0,0.01,3.0,300.0,300.0,300.0
2,1417412100,300.0,300.0,300.0,300.0,0.01,3.0,300.0,300.0,300.0
3,1417412160,300.0,300.0,300.0,300.0,0.01,3.0,300.0,300.0,300.0
4,1417412220,300.0,300.0,300.0,300.0,0.01,3.0,300.0,300.0,300.0

In [11]:
import plotly.plotly as py
import plotly.graph_objs as go

In [12]:
data = [go.Scatter(
          x=token.Timestamp,
          y=token['avg'])]

py.iplot(data)

/Users/zerindong/anaconda2/lib/python2.7/site-packages/plotly/plotly/plotly.py:219: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

The draw time for this plot will be slow for all clients.

/Users/zerindong/anaconda2/lib/python2.7/site-packages/plotly/api/v1/clientresp.py:40: UserWarning:

Estimated Draw Time Too Long

In [13]:
data = [go.Scatter(
          x=token.Timestamp,
          y=token['mid'])]

py.iplot(data)

The draw time for this plot will be slow for all clients.

In [25]:
token.describe().T

,count,mean,std,min,25%,50%,75%,max
Timestamp,1459076.0,1.464675e+09,2.529114e+07,1.417412e+09,1.442799e+09,1.464685e+09,1.486572e+09,1.508458e+09
Open,1459076.0,9.725676e+02,1.131727e+03,6.000000e-02,2.801675e+02,5.327600e+02,1.011970e+03,5.864050e+03
High,1459076.0,9.729051e+02,1.132138e+03,6.000000e-02,2.802400e+02,5.329700e+02,1.012062e+03,5.867000e+03
Low,1459076.0,9.721621e+02,1.131245e+03,6.000000e-02,2.800900e+02,5.324100e+02,1.011530e+03,5.850900e+03
Close,1459076.0,9.725577e+02,1.131734e+03,6.000000e-02,2.801600e+02,5.327400e+02,1.011950e+03,5.864050e+03
Volume_(BTC),1459076.0,6.219794e+00,1.525087e+01,1.000000e-08,6.164900e-01,2.118200e+00,6.174839e+00,1.563267e+03
Volume_(Currency),1459076.0,7.768226e+03,2.577190e+04,2.641700e-06,2.785014e+02,1.141791e+03,4.994719e+03,2.394037e+06
Weighted_Price,1459076.0,9.725320e+02,1.131685e+03,6.000000e-02,2.801736e+02,5.327155e+02,1.011890e+03,5.862071e+03
mid,1459076.0,9.725627e+02,1.131730e+03,6.000000e-02,2.801787e+02,5.327400e+02,1.011940e+03,5.856070e+03
avg,1459076.0,9.725336e+02,1.131691e+03,6.000000e-02,2.801800e+02,5.327075e+02,1.011895e+03,5.855055e+03